[package]
name = "argh"
version = "0.1.5"
authors = ["Taylor Cramer <cramertj@google.com>", "Benjamin Brittain <bwb@google.com>", "Erick Tryzelaar <etryzelaar@google.com>"]
edition = "2018"
keywords = ["args", "arguments", "derive", "cli"]
license-file = "LICENSE"
description = "Derive-based argument parser optimized for code size"
repository = "https://github.com/google/argh"
readme = "README.md"

[dependencies]
argh_shared = { version = "0.1.5", path = "../argh_shared" }
argh_derive = { version = "0.1.5", path = "../argh_derive" }
