name: Argh

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Build
      run: cargo build --workspace --examples --verbose

    - name: Run tests
      run: cargo test --workspace --verbose

    - name: Run simple_example
      run: cargo run --package argh --example simple_example two --fooey

  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Run Rustfmt
      run: cargo fmt -- --check

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Run clippy
      run: cargo clippy --version && cargo clippy --tests --workspace -- -D warnings -A clippy::needless-raw-string-hashes

  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Check documentation
      env:
        RUSTDOCFLAGS: -D warnings
      run: cargo doc --no-deps --document-private-items --workspace
